<!DOCTYPE html>
<head>
	<title>Deaths</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link href= "/stylesheets/style.css" rel="stylesheet" type="text/css" /> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<style>
body {
  background-image: url("images/lifeboatrescue.jpg");
}
</style>
</head>
<body>
	<div class="container">
		<ul class="nav nav-tabs" role="tablist">
			<li class="active"> <a href=/>Home</a> </li>
			<li><a href=addincidents>Log an Incident</a></li>
			<li><a href=getincidents>List Incidents</a></li>
			<li><a href=deaths>Deaths</a></li>
			<li><a href=graph>Graph</a></li>
			<li><a href=videos>Videos</a></li>
			<li><a href = "https://westauckland.co.nz/beaches/muriwai-beach"/>Muriwai Beach</a></li>        
		</ul>
	</div>
	<div>
<canvas id="myChart" class="center" style="width:100%;max-width:1150px"></canvas>
<% graphData[0] %>
<script>


var xyValues = [
	
];

console.log(graphData);

var shallowCopy = Object.assign({}, graphData);
console.log(shallowCopy);

 
</script>
</div>

</body>
</html>