<!DOCTYPE html>
<html lang="en">

<head>
	<title>My Site Diary</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</head>

<body>
	<div class="container">
		<div class="logo-box"><img src="images/0Logo.png" width="55" alt="Logo" id="logo"
				class="d-inline-block align-middle mr-2"></li>
		</div>
		<ul class="nav nav-tabs" role="tablist">
			<li class="active"><a href=/ class="text-uppercase font-weight-bold">Home</a></li>
			<li><a href=login class="text-uppercase font-weight-bold">Login</a></li>
			<li><a href=jobAssignment class="text-uppercase font-weight-bold">Job Assignment</a></li>
			<li><a href=siteDiary class="text-uppercase font-weight-bold">Site Diary</a></li>
			<li><a href=summary class="text-uppercase font-weight-bold">Summary</a></li>
			<li><a href=contact class="text-uppercase font-weight-bold">Contact</a></li>
		

		</ul>
	</div>
	<div>
		<div class="container images-list">

			<div id="leftbox">
				<a href=login>

					<img src="images/1Login.jpg" width="400px" >
				</a>
			</div>

			<div id="middlebox">
				<a href=jobAssignment>
					<img src="images/2JobAssignment.jpg" width="400px" >
				</a>
			</div>

			<div id="middlebox">
				<a href=siteDiary>
					<img src="images/3SiteDiary.jpg" width="400px">
				</a>
			</div>

			<div id="middlebox">
				<a href=summary>
					<img src="images/4Summary.jpg" width="400px" alt="Gannets at Muriwai, Auckland">
				</a>
			</div>

		</div>
		<div id="divHome">

			<p>
				My Site Diary stands as a state-of-the-art digital solution, meticulously designed for recording and managing construction site activities. It serves as a powerful tool, specifically crafted to empower trades in the dynamic context of New Zealand
				Find out <a id="why" href="https://www.planradar.com/au/benefits-of-going-digital-construction-site-diary/">WHY</a> use it!
				
			</p>

	



		</div>
	</div>
</body>

</html>